package layouts

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title } - Doorman</title>
			<link href="assets/css/output.css" rel="stylesheet"/>
		</head>
		<body class="">
			{ children... }
		</body>
	</html>
}
